<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

    <title>Reset Password</title>
</head>

<body class="centered">
    <section class="form">
        <form method="POST">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="container">
                <div class="card" style="min-height: 350px; min-width: 400px;">
                    <a class="login">Reset Password</a>
                    <!-- <a>{{ username }}</a> -->
                    <input id="username" type="text" name="username" value="{{ username }}" hidden autocomplete="username">
                    <div class="inputBox">
                        <input id="pswd1" name="password1" type="password" required="required"
                            autocomplete="new-password">
                        <span>New Password</span>
                    </div>
                    <div class="inputBox">
                        <input id="pswd2" name="password2" type="password" required="required"
                            autocomplete="new-password">
                        <span>Confirm Password</span>
                    </div>
                    <button type="submit" value="Reset-password" class="enter">Submit</button>
                </div>
            </div>
        </form>
    </section>
    <script src="{{ url_for('static', filename='js/reset.js') }}"></script>
</body>

</html>