@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.scrollable-container {
    overflow-y: auto;
    /* Enable vertical scrolling */
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: aliceblue;
    font-family: Montserrat, serif;
}
